:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #2f303a;
  --text-color: #757575;
  --inverse-color: #ffffff;
  --background-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 16px 32px 32px 30px;
}

.social-list-item {
  margin-right: 10px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #afb1b8;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon-footer {
  fill: #ffffff;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.btn-close {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-fied {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-fied-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.form-text::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrapper {
  position: relative;
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.check-link {
  color: var(--accent-color);
  margin-left: 2px;
}

.check-it {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-checkbox:checked + .check-text > .check-it {
  background-color: var(--accent-color);
  border-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn {
  display: block;
  margin: 0 auto;
  padding: 0;
  min-width: 200px;
  height: 50px;
  color: var(--inverse-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-btn:focus,
.form-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  font-family: 'Raleway';
}

.logo-decoration {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
  padding-left: 0;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.active {
  color: var(--accent-color);
}

.link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: relative;
  top: 32px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.contact-link:last-child {
  margin-left: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  fill: #757575;
  margin-right: 10px;
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
}

.hero {
  text-align: center;
  margin: 0 auto;
  background-color: var(--main-background-color);
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--inverse-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero-button {
  display: inline-block;
  margin: 0;
  padding: 10px 32px;
  color: var(--inverse-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.features-list .item {
  width: 270px;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-title {
  margin-top: 0;
  color: var(--brand-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features-icon {
  background-color: var(--background-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.activity-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--brand-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.activity-list .item {
  position: relative;
}

.activity-list .item + .item {
  margin-left: 30px;
}

.label-wrapper {
  max-width: 370px;
}

.label {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.label-text {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: var(--background-color);
}

.team-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--brand-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .item {
  text-align: center;
  width: 270px;
  background-color: var(--inverse-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.team-list-title {
  margin-bottom: 10px;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.team-list-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.customers-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 1170px;
}

.customers-item {
  margin-right: 30px;
}

.customers-item:last-child {
  margin-right: 0;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #afb1b8;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 10px;
}

.filter-btn {
  padding: 6px 22px;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-style: none;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--inverse-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  min-width: 370px;
  border: 1px solid #eeeeee;
}

.project .item:nth-child(3n) {
  margin-right: 0;
}

.project .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project .item:hover,
.project .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-content {
  padding: 20px 24px;
}

.project-title {
  color: var(--brand-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* letter-spacing: 0.06em; */
}

.project-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.project-item-wrapper {
  max-width: 370px;
  position: relative;
  overflow: hidden;
}

.project-top-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--inverse-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project .item:hover .project-top-text {
  transform: translateY(0);
}

.footer-page {
  padding: 60px 0;
  background-color: var(--main-background-color);
}

.address {
  margin-bottom: 9px;
  color: var(--inverse-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.logo-white {
  display: block;
  margin-bottom: 20px;
  color: var(--inverse-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  font-family: 'Raleway';
}

.hookup {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact:last-child {
  margin-bottom: 0;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
  max-width: 206px;
  margin-left: 70px;
}

.footer-icons-text {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--inverse-color);
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-page-blocks {
  display: flex;
}

.form-footer {
  margin-left: 90px;
}

.form-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.form-footer-input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--inverse-color);
}

.form-btn-footer {
  margin: 0 auto;
  padding: 0;
  min-width: 200px;
  height: 50px;
  color: var(--inverse-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-footer-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */
